<% include partials/header %>

<div class="containerOne">
    <div class="landing">
        <h1>Faye Burke</h1>
        <h2><strong>Junior Front/ Back-end developer</strong></h2>
            <img src="/images/icon.png" id="logo">
    </div>
    <button class="btn btn-outline-light btn-lg" id="go">
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
</div>

<div id="showPage">

    <div class="partial bio">
        <p>Hi! I'm a junior developer based in Brisbane, AU.</p>
        <p>I like clever code and bold designs.</p>
        <p>Talk to me!</p>
    </div>
    <div class="partial" id="logoLinks">
        <a href="https://github.com/FayeElizabethBurke" target="_blank"><img src="\images\GitHub-Mark.jpg" height="50px"></a>
        <a href="https://www.linkedin.com/in/faye-burke-360138149/" target="_blank" style="margin-left: 30px; margin-right: 30px;"><img src="\images\linkedin.jpg" height="50px"></a>
        <a href="https://www.codewars.com/users/FayeElizabethBurke" target="_blank"><img src="\images\codewars.png" height="55px"></a>
        
    </div>

    <div class="partial two">
        <h2>Skills</h2>
        <div class="techSkills">
                <div class="list left">
                        <h3>Front End</h3>
                            <div>
                                <h4>JavaScript</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>Bootstrap</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>jQuery</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>Figma</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>HTML/CSS</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                    </div>
            
                    <div class="list right">
                            <h3>Back End</h3>
                            <div>
                                <h4>NodeJS</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>EJS Templating</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>TestCafe</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>MongoDB</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                            <div>
                                <h4>Deployment</h4>
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </span>
                            </div>
                    </div>
        </div>
    </div>

    <div class="partial" id="top">
        <h2>Projects</h2>
        <div id="scrolly">
            <div class="projects">
                <div id="idToHoverOne"> 
                    <a href="http://www.matt-davey.com" target="_blank"><div class="scrollObject" style="background: url(/images/matts.jpg); background-size: cover;"></div>
                    </a>
                </div>
            </div>

            <div class="projects four">
                <div id="idToHoverTwo"> 
                    <a href="https://github.com/FayeElizabethBurke/codeDiary" target="_blank"><div class="scrollObject" style="background: url(/images/codeSnip.PNG); background-size: cover;"></div>
                    </a>
                </div>
            </div>

    <div class="projects four">
    <div id="idToHoverThree"> 
            <a href="https://github.com/FayeElizabethBurke/testcafe-interface" target="_blank"><div class="scrollObject" style="background: url(/images/crInterface.PNG); background-size: cover;"></div>
            </a>
        </div>
    </div>
        <div class="projects four">
                <div id="idToHoverThree"> 
            <a href="https://github.com/FayeElizabethBurke/organiserFaye"><div class="scrollObject" style="background: url(/images/nasaAPIshot.jpg); background-size: cover;"></div>
            </a>
            </div>
        </div>
    </div>
</div>




<% include partials/footer %>
