<% include partials/header %>

<div class="containerOne">
    <div class="landing">
        <h1>Faye Burke</h1>
        <h2><strong>Junior Front/ Back-end developer</strong></h2>
            <img src="/images/icon.png" id="logo">
    </div>
    <button class="btn btn-outline-light btn-lg" id="go">
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
</div>

<div id="showPage">

    <div class="partial">
        <p></p>
    </div>

    <div class="partial" id="top">
        <h2 style="text-align: center; margin-top: 20px;"><strong> Projects </strong></h2>
        <div id="scrolly">
            <a href="http://www.matt-davey.com" target="_blank"><div class="scrollObject" style="background: url(/images/matts.jpg); background-size: cover;"></div>
            </a>
            <a href="#"><div class="scrollObject" style="background: url(/images/nasaAPIshot.jpg); background-size: cover;"></div>
            </a>
            <a href=""><div class="scrollObject"></div></a>
            <a href=""><div class="scrollObject"></div></a>
        </div>
    </div>
</div>
<% include partials/footer %>
