
body {
    font-family: 'Muli', sans-serif;
    background-color: rgba(145, 182, 242, 0.05);
}

.containerOne {
    padding: 50px;
    padding-top: 100px;
    text-align: center;
    height: 90vh;
    border: 0.5px solid grey;
    border-radius: 10px;
    margin: 2%;
    background: url('/images/groupOne.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
    
}

h1 {
    color: rgba(0, 0, 0, 0.75);
    font-size: 80px;
}

h2 {
    color: rgba(0, 0, 0, 0.75);
    font-size: 30px;
}

#logo {
    margin-top: 5%;
    width: 15%;
}


.partial {
    margin: 2%;
    padding-bottom: 2%;
    text-align: center;
    display: none;
    border: 0.5px solid grey;
    border-radius: 10px;
    background-color: white !important;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
}

#idModal{
    display: none;  
    }

iframe {
    border: 0px solid white;
}

#showPage {
    background-color: rgba(145, 182, 242, 0.2) !important
}
html {
    background-color: rgba(145, 182, 242, 0.2) !important;
}

a {
    margin: 10px;
    padding-top: 10px;
}

.bio {
    padding-top: 3.5%;
    height: 35em;
    background-color: white !important;
}

#logoLinks {
    background-color: white !important;
    padding-top: 2%;
}

.two {
    height: 42vh;
}

button {
    margin-top: 20px;
}

.glyphicon {
    color: grey;
    font-size: 40px;
}
.techSkills {
    display: flex;
    text-align: center;
    background-color: white !important;
}

.list {
    display: inline;
    padding: 40px;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}

#top {
    overflow-x: scroll;
    height: 550px;
}

#bottom {
    height: 100%;
    display: flex;
}

h3 {
    font-size: 20px;
}

a .scrollObject {
    margin: 10px;
    min-width: 600px;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    float: left;
    height: 340px;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
}

#scrolly {
    display: flex;
    margin-top: 2%;
    width: 30%;
}

a:hover {
    background-color: #F2FA9F;
    border-radius: 10px;
}

.description {
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    min-width: 45%;
    display: flex;
    margin-top: 3%;
}

li {
    font-size: 20px;
}

p {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
}
